body {
    font-family: Arial;
    padding: 40px;
    background: #f4f6f8;
}

input, button {
    padding: 10px;
    margin: 5px 0;
}

button {
    cursor: pointer;
}

pre {
    background: white;
    padding: 10px;
    border-radius: 5px;
}
